    <div class="sponsors row">
        <h4>Organiser</h4>

        <img src="/assets/img/the-hexagon-network.jpg" alt="The Hexagon Network - Organiser of The Benin Ugie Carnival" height="58">

        <h4>Partners</h4>

        <img src="/assets/img/ait-logo.jpg" alt="African Independent Television - AIT" height="58">

        <img src="/assets/img/edo-state-tourism.jpg" alt="Edo State Ministry of Art &amp; Tourism" height="58">
    </div>

    <!--Footer Begins Here -->

    <div class="footer row">
        <div class="row">
            <div class="footer_nav medium-8 column">
                <ul>
                    <li class="item_p">Connect</li>

                    <li><a href="{twitter_link}" title="The Benin Ugie Carnival on Twitter">Twitter</a></li>
                    <li><a href="{facebook_link}" title="The Benin Ugie Carnival on Facebook">Facebook</a></li>
                    <li><a href="{flickr_link}" title="The Benin Ugie Carnival on Flickr">Flickr</a></li>
                    <li><a href="{instagram_link}" title="The Benin Ugie Carnival on Instagram">Instagram</a></li>
                    <li class="item_p"><a href="/news" title="The Benin Ugie Carnival News">News</a></li>

                    <li class="item_p"><a href="/media" title="Ugie Carnival media">Media</a></li>
                    <li><a href="/media/instagram" title="Instagram shots of The Benin Ugie Carnival">Instagram</a></li>
                    <li><a href="/media/videos" title="Videos of performances at the Benin Ugie Carnival">Videos</a></li>
                    <li><a href="/media/photos" title="Photos and images from The Benin Ugie Carnival">Photos</a></li>
                    <li><a href="/media/flickr" title="Photos of The Benin Ugie Carnival on flickr">Flickr</a></li>
                </ul>

                <ul>
                    <li class="item_p"><a href="/">Home</a></li>

                    <li class="item_p"><a href="/info" tilte="About The Benin Ugie Carnival">About</a></li>

                    <li><a href="/info" title="The Benin Ugie Carnival Information">Info</a></li>
                    <li><a href="/info/history" title="History of the Ugie">History</a></li>
                    <li><a href="/info/events/carnival" title="Information on the Benin Ugie Carnival">Ugie Carnival</a></li>
                    <li><a href="/info/events/ugie-carnival-queen" title="Beauty Pageant at the Ugie Carnival">Beauty Pageant</a></li>
                    <!--<li><a href="/info/organisers" title="The Organisers of Ugie Carnival">Organisers</a></li>-->
                    <li><a href="/info/participate" title="Participate in The Benin Ugie Carnival">Participate</a></li>
                    <li><a href="/info/participate/sponsorship" title="Sponsorship of the Benin Ugie Carnival">Sponsorship</a></li>
                    <li><a href="/info/partners" title="Partners of The Ugie Carnival">Partners</a></li>
                    <li><a href="/info/participate/volunteer" title="Sponsors">Volunteer</a></li>
                </ul>

                <ul>
                    <li class="item_p"><a href="/info/festivals" title="The festivals">The Festivals</a></li>
                    <li><a href="/info/festivals/igue-festival" title="The Igue Festival">Igue Festival</a></li>
                    <li><a href="/info/festivals/iguerhoba" title="Iguerhoba">Iguerhoba</a></li>
                    <li><a href="/info/festivals/ugie-iron" title="Ugie Iron (Eeron)">Ugie Iron (Eeron)</a></li>
                    <li><a href="/info/festivals/igue-oba" title="Igue Oba">Igue Oba</a></li>
                    <li><a href="/info/festivals/ugie-emobo" title="Ugie Emobo">Ugie Emobo</a></li>
                    <li><a href="/info/festivals/ugie-Ivbioba" title="Ugie Ivbioba">Ugie Ivbioba</a></li>
                    <li><a href="/info/festivals/ugie-edohia" title="Ugie Edohia">Ugie Edohia</a></li>
                    <li><a href="/info/festivals/ugie-ewere" title="Ugie Ewere">Ugie Ewere</a></li>
                </ul>

                <ul>
                    <li class="item_p"><a href="/info/events" title="Events at Ugie Celebrations">Events</a></li>
                     <li ><a href="/info/events/carnival" title="The Benin Ugie Carnival">Carnival</a></li>
                    <li><a href="/info/events/ugie-carnival-queen" title="Beauty Pageant">Beauty Pageant</a></li>
                    <li><a href="/info/events/art-exhibitions" title="Art Exhibitions">Art Exhibitions</a></li>
                    <li><a href="/info/events/theatre-drama-shows" title="Theatre &amp; Drama Shows">Theatre &amp; Drama Shows</a></li>
                    <li><a href="/info/events/oba-erediauwa-award-for-excellence" title="Oba Erediauwa Award for Excellence">Oba Erediauwa Award for Excellence</a></li>
                    <li><a href="/info/events/traditional-games" title="Traditional Games">Traditional Games</a></li>
                    <li><a href="/info/events/wrestling-competition" title="Wrestling Competition">Wrestling Competition</a></li>
                    <li><a href="/info/events/musical-concerts" title="Musical Concerts">Musical Concerts</a></li>
                    <li><a href="/info/events/diaspora-celebrates" title="Diaspora Celebrates">Diaspora Celebrates</a></li>
                </ul>
            </div>

            <div class="footer_social medium-4 column">
                <div>
                    <a href="{twitter_link}" title="Follow The Benin Ugie Carnival on Twitter" target="_blank"><span class="icon-twitter icon-medium"></span></a>

                <a href="{facebook_link}" title="Like The Benin Ugie Carnival on Facebook" target="_blank"><span class="icon-facebook icon-medium"></span></a>
                </div>
            </div>

            <div class="footer_contact-info medium-4 column" itemscope itemtype="http://schema.org/Organization">
                <h4 class="footer_contact-info-heading" itemprop="name">The Benin Ugie Carnival</h4>
                
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><strong>Correspondence: </strong><br><span itemprop="streetAddress">2A Golf Course Road, GRA, Benin City.</span><br>
                    <strong>Phone:</strong><span itemprop="telephone"> 234 (0) 817 962 6542</span> <br>

                    <strong>General enquiries:</strong><span itemprop="email">info@thebeninugiecarnival.com</span>

                </p>
            </div>
        </div>

        <h3 class="footer_copyright">
            The Hexagon Network Limited &copy; 2014. The Benin Ugie Carnival. All Rigts Reserved
        </h3>
    </div>

    <div class="row footer_disclaimer ">
        <div class="span-8">
            <p>
                <strong class="secondary-color">Disclaimer:</strong> 

                 The Benin Ugie and other traditional festivals held during the Ugie like the Igue festival and Ewere has existed for more than 600 years and always been in the custody of the Benin Kingdom. No one can claim ownership to those events except the Benin Monarchy. In that respect, all other events: The Carnival, Beauty Pageant, Oba Erediauwa Award for  Excellence and other events which are not part of the traditional  festivals are sole properties of the organisers and all rights are vested on the organisers. 

                Permission granted to reproduce content for personal and educational use only. Any content which is used or shared outside of this website must be attributed to The Benin Ugie Carnival at all times. Commercial copying, hiring, lending is prohibited.
            </p>
        </div>

        <div class="footer_site-credits">
            <span>Site Design by</span>

            <img src="/assets/img/witts&stratts.png" alt="Witts and Stratts" width="70">
        </div>
    </div>
  <script src="/assets/js/min/LAB.min.js"></script>
  <script>
    $LAB
    .script("/assets/js/min/jquery.min-ck.js").wait()
    .script("/assets/js/underscore-min.js").wait()
    .script("/assets/js/min/TweenMax.min-ck.js")
    .script("/assets/js/min/cycle2.min-ck.js")
    .script("/assets/js/owl-carousel/owl.carousel.js")
    .script("/assets/js/imagesloaded.pkgd.min.js")
    .script("/assets/js/min/app-ck.js")
  </script>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/min/jquery.min-ck.js"><\/script>')</script>
    <script src="/assets/js/min/TweenMax.min-ck.js"></script>
    <script src="/assets/js/min/cycle2.min-ck.js"></script>
    <script src="/assets/js/min/app-ck.js"></script>-->

  </body>
</html>