<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ugie Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	{exp:nsm_better_meta:template}
  <meta property="og:image" content="{if embed:image == ""}{site_url}assets/img/the-benin-ugie-carnival-logo.png{if:else}{embed:image}{/if}" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/js/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/js/owl-carousel/owl.theme.css">
    <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>
    <link rel="stylesheet" href="/assets/css/app.css" />
  </head>
  <body>

    
  <header id="header" class="header">
       <div class="row collapse">
            <div class="logo" data-title="The Benin Ugie Carnival" data-url="http://www.thebeninugiecarnival.com">
                 <a href="/">
                    <img src="/assets/img/the-benin-ugie-carnival-logo.png" alt="The Benin Ugie Carnival Logo" width="193">
                 </a>
                  <h1 class="pseudo-logo">The Benin Ugie Carnival</h1>
            </div>

            <nav class="nav">
                <ul>
                        <li><a href="/info">Info</a></li>
                        <li><a href="/media">Media</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/info/events">Events</a></li>
                        <li><a href="/info/contact">Contact</a></li>
                    </ul>   
            </nav>

            <div class="side-nav">
                <div class="signups">
                    <span><a href="/info/participate" title="Participate">Participate</a></span> &nbsp; &nbsp;|

                    <span><a href="/info/participate/volunteer" title="Volunteer">Volunteer</a></span>
                </div>

                <div class="social">
                    <a href="{twitter_link}" title="Ugie Carnival on twitter" target="_blank"><span class="icon-twitter icon-medium"></span></a>

                   <a href="{facebook_link}" title="Ugie Carnival on facebook" target="_blank"><span class="icon-facebook icon-medium"></span>
                </div>
            </div>
       </div>
  </header>

   <div class="sub-nav row collapse">
            <div class="news-update">
                <span class="icon-arrow-right"></span>

                <div>{exp:channel:entries channel="news" cache="yes" refresh="10" limit="1" disable="member_data|pagination" dynamic="no"}<a href="{title_permalink='/news'}" title="{title}">{title}</a>{/exp:channel:entries}</div>
            </div>

            <h3 class="slogan">A Festivity of Peace &amp; Joy</h3>

           <div class="dt">
                <button class="button button-secondary round">
                This December
                </button>
           </div>
    </div>