<h4>Get Updates</h4>

                <div class="newsletter-status"><div class="icon-cross js-ns-close"></div><span></span></div>

                <p>Signup to receive the latest Ugie Carnival News, along with special updates and information.</p>

                {exp:freeform:form 
                    form_name = "newsletter"
                    return = "newsletter/thank-you"
                    notify_admin = "yes"
                    notify = "social@thebeninugiecarnival.com"
                    form:class = "newsletter-signup-form"
                    inline_errors="yes"
                    required="email"
                }
                    <input type="email" name="email" placeholder="Enter your email">

                    <input type="submit" value="SIGN UP" class="small button round">
                {/exp:freeform:form}