.featured-ad {
      margin-top: em(20);
      border-top: 1px solid lighten($gray, 35%);
      border-bottom: 1px solid lighten($gray, 35%);
      padding-top: em(20);
      padding-bottom: em(20);
}