.main-content {
            @include grid-row();
            //background-color: $white;
            padding-top: rem-calc(30);
            //padding-left: em(20);
            //padding-right: em(20);

            &.full-width {
                  max-width: 100% !important;
                  background-color: rgba($white, 0.99);
            }

            &.small-pad {
                  @media #{$small-up} {
                       padding: 0 em(10);
                  }
            }
            margin-bottom: rem-calc(70);

            @media #{$large-up} {
                padding-left: 0;
                padding-right: 0;
            }
}
.main-area {

      @media #{$medium-up} {
            @include grid-column(
                $columns: 7.5
            );
      }

      @media #{$medium-only} {
        @include grid-column(
                $columns: 9
            );
      }

      img {
            padding: rem-calc(10) 0 rem-calc(20);
      }

      @media #{$large-up} {
        padding-right: rem-calc(40);
      }

      h3,h4,h5,h6 {
        font-weight: 400;
        color: $secondary-color;
      }

      @media #{$small-only} {
        h1,h2,h3,h4,h5,h6,p,span {
            padding-left: rem-calc(20);
            padding-right: rem-calc(20);
        }
      }
}
.sidebar {
    position: relative;
      @media #{$medium-only} {
             @include grid-column(
                  $columns: 12,
                  $collapse: true
            );
     }
     @media #{$large-up} {
             @include grid-column(
                  $columns: 2.5,
                  $collapse: true
            );
     }
}
.sub-side-nav {
  position: relative;

   @media #{$medium-only} {
            @include grid-column(
            $columns: 3,
            $collapse: true
        );
        padding-left: rem-calc(30);
        padding-right: rem-calc(30);
     }

  @media #{$large-up} {
            @include grid-column(
            $columns: 2,
            $collapse: true
        );
        padding-right: rem-calc(30);
     }

     ul {
        margin-left: 0;
        font-weight: bold;
        letter-spacing: .03em;

        li {
            padding-bottom: rem-calc(3);
            margin-bottom: rem-calc(3);
            border-bottom: 1px solid lighten($gray, 32%);

            &:last-child {
                border-bottom: none;
            }

            > ul {
                display: none;
                padding-left: rem-calc(30);
                font-size: rem-calc(14);
                
                

                a {
                    color: lighten($gray, 10%);
                    font-weight: 500;
                }
            }
            &.active {
                a {
                    color: $secondary-color;
                }

                ul {
                    display: block;

                    a {
                        color: $gray;
                    }
                }
            }
        }

        a {
            color: $gray;

            .active {

            }
        } 
        &.mobile-show-block {
          @media #{$small-only} {
            position: absolute;
            background-color: $white;
            width: 120%;
            padding: 0 rem-calc(40);
            margin-left: (-10%);
            border-bottom: 5px solid $primary-color;
            height: 0;
            overflow: hidden;
            opacity: 0;
            z-index: 10000;
          }
        }
     }

}
.main-area, .sub-side-nav, .sidebar {
    padding-top: rem-calc(40);

    @media #{$small-only} {
      padding-top: 0;
    }
}
.side-image {
    background-color: lighten($gray, 30%);
    padding: em(10) em(20);
    float: left;

    img {
        width: 100%;
        display: block;
        float: left;
    }

    p {
        font-size: em(12);
        font-style: italic;
    }
}
.main-image {
  text-align: center;
  background-color: lighten($gray, 37%);
  overflow: hidden;
  perspective: 300px;
  position: relative;

  @include grid-column(
    $columns: 12,
    $center: true
    );
  margin-bottom: rem-calc(40);

  max-height: 600px;

  img {
    max-height: 100%;
    width: auto;
    @include inline-block;
    @include transform(translateZ(0));
    -webkit-backface-visibility: hidden;
  }

  iframe {
    max-width: 100%;

    @media #{$medium-only} {
      height: rem-calc(500);
    }

    @media #{$small-only} {
      height: rem-calc(300);
    }
  }

}
.more-content {

}