.main-content {
            @include grid-row();
            background-color: $white;

            &.full-width {
                  max-width: 100% !important;
                  background-color: rgba($white, 0.96);
            }
}