.media {
      width: 100%;
      @include transform(translateZ(0));

      [class^="icon-"], [class*=" icon-"] {
            position: absolute;
            font-size: rem-calc(40);
            z-index: 2000;
            top: 0;
            left: 0;
            color: $white;
            padding: em(10);
      }

      .item {
            position: relative;
            //background-color: rgba($primary-color, 0.6);
            overflow: hidden;
            @include animation(fadeIn 1.0s, ease-in);
            border: 5px solid $white;

            @media #{$medium-only} {
                  @include grid-column(
                        $columns: 4,
                        $collapse: true
                  );
            }
            @media #{$large-up} {
                  @include grid-column(
                        $columns: 3,
                        $collapse: true
                  );
            }
            img {
                  width: 100%;
                  //opacity: 0.8;
                  @include transform(scale(1.2));
                  @include transition ( all 3s ease-out );

                  &:hover {
                       @include transform(scale(1));
                       opacity: 0.5;
                  }
            }

            &:after {
              content: '';
              width: 100%;
              height: 50%;
              position: absolute;
              bottom: 0;
              background: image-url("linear-gradient.png") repeat-x;
              z-index: 10;
            }

            h4 {
              z-index: 100;
              font-size: rem-calc(18);
              font-weight: 400;

              @media #{$medium-only} {
                font-size: rem-calc(18);
              }
            }

      }

      @media #{$small-only} {
            padding-left: em(10);
            padding-right: em(10);
      }
      .caption {
           padding: em(10);
           position: absolute;
           bottom: em(10);
           left: 0;
           color: $white;
           font-weight: $font-weight-normal;
      }
}
.media-small {
      width: 100%;
      @include transform(translateZ(0));

      [class^="icon-"], [class*=" icon-"] {
            position: absolute;
            font-size: rem-calc(40);
            z-index: 2000;
            top: 0;
            left: 0;
            color: $white;
            padding: em(10);
      }

      .item {
            position: relative;
            //background-color: rgba($primary-color, 0.6);
            overflow: hidden;
            @include animation(fadeIn 1.0s, ease-in);
            border: 5px solid $white;
            min-height: rem-calc(260);

            @include grid-column(
                        $columns: 6,
                        $collapse: true
                  );


            @media #{$medium-only} {
                  @include grid-column(
                        $columns: 3,
                        $collapse: true
                  );
                  min-height: rem-calc(200);
            }
            @media #{$large-up} {
                  @include grid-column(
                        $columns: 3,
                        $collapse: true
                  );
            }

            @media #{$small-only} {
              min-height: rem-calc(150);
            }

            img {
                  width: 100%;
                  //opacity: 0.8;
                  float: left;

                  &:hover {
                       @include transform(scale(1));
                       opacity: 0.5;
                  }
            }

            h4 {
              z-index: 100;
              font-size: rem-calc(14);
              font-weight: 400;

              @media #{$medium-up} {
                font-size: rem-calc(16);
              }
            }

      }

      @media #{$small-only} {
            padding-left: em(10);
            padding-right: em(10);
      }
      .caption {
           position: relative;
           left: 0;
           color: $gray;
           font-weight: $font-weight-normal;
            margin-top: rem-calc(12);
            float: left;
      }
}
.media_featured-slider{
      margin-bottom: em(40);
      margin-top: em(30) !important;
      position: relative;
      min-height: rem-calc(400);
      overflow: hidden;

      .media_featured-slider_image {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-bottom: rem-calc(30);

            @media #{$small-only} {
              width: 180%;
              @include transform(translateX(-20%));
            }
      }

      .media_featured-slider_info {
            padding: 0 em(20);

            @media #{$small-only} {
              padding-bottom: 0;
            }
      }

      .media_featured-slider_controls {
            font-size: rem-calc(40);
            padding-top: rem-calc(10);
            text-align: center;
            z-index: 1000;
            margin-bottom: rem-calc(20);

            span {
                 @include inline-block;
                 cursor: pointer;
            }

            @media #{$medium-up} {
                  position: absolute;
                  right: 0;
                  bottom: rem-calc(30);
                  text-align: left;

                  @include grid-column(
                        $columns: 4
                  );
            }
      }
}
@include keyframes(fadeIn){
      from {
            @include transform(scale(0));
            opacity: 0;
      }
      to {
            @include transform(1);
            opacity: 1;
      }
}