h1.page-header {
      color: $primary-color;
      text-align: center;
      font-weight: $font-weight-light !important;
      padding-top: rem-calc(20);

      @media #{$medium-up} {
            font-size: rem-calc(80) !important;
      }
}