            <div class="updates">
            <div class="update update-twitter">
                <h4>From Twitter <a href="http://twitter.com/thebeninugiecarnival"><span class="icon-twitter"></span></a></h4>

                <p>In case you're after an amusing start to your Saturday evening, here's some Milton Jones highlights <a href="#gb37http://t.co/rMTjdz1U0A">#gb37 http://t.co/rMTjdz1U0A</a></p>
            </div>

            <div class="update update-newsletter">
                <h4>Get Updates</h4>

                <p>Signup to receive the latest Ugie Carnival News, along with special updates and information.</p>

                <form action="">
                    <input type="email" name="email" placeholder="Enter your email">

                    <input type="submit" value="SIGN UP" class="small button round">
                </form>
            </div>