 <ul>
                <li><a href="/info/history">Info</a></li>
                <li><a href="/info/history">History</a></li>
                <li><a href="/info/participate">Benin Culture Art &amp; History</a></li>
                <li><a href="/info/the-festivals">The Logo &amp; Mask</a></li>
                <li><a href="/info/the-festivals">The Festivals</a></li>
                <li><a href="/info/events">Events</a></li>
                <li><a href="/info/participate">Participate</a></li>
                <li><a href="/info/participate">Partners</a></li>
                <li><a href="/info/contact">Contact</a></li>
            </ul>