            <div class="updates">
            <div class="update update-twitter">
                <h4>From Twitter <a href="http://twitter.com/thebeninugiecarnival"><span class="icon-twitter"></span></a></h4>

                <p>{exp:twitter:user screen_name="ugiecarnival" limit="1" target="_blank"} 
                     {text}
                 {/exp:twitter:user}</p>
            </div>

            <div class="update update-newsletter">
               {embed="Main/.newsletter-form"}
            </div>